<body style="background-color: #000000" align="center">
<font color="#ffffff" face="Helvetica, Arial, Trebuchet MS, Verdana, sans-serif" size="2">&nbsp;&nbsp;

<%= flash_message %>
<h2 align="center">
THANK YOU - Your question has entered the netherverse. Answers should be coming soon
</br>
<%= link_to "Continue", log_in_path %></h2>
