<h1>Invstg8.net account</h1>
</br>
<%= link_to "Edit Info", "edit" %>
</br>

<div class="container">
  <table class="table">
    <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    
    </thead>
    <% @researchers.each do |r| %>
      <tr class="researcher">
        <td><%= r.name %></td>
        <td><%= r.email %></td>
        <td><%= r.phone_number %></td>
        
      </tr>
    <% end %>
  </table>
  <div>
  </div><!--container-->
</div>
